Repository diffgram/diffgram, pull requests merged in 2022-08, with the labels that each got.

#1008 Webhook Action Support
  default/methods/action/action_run_list.py
  default/routes_init.py
  default/tests/shared/database/task/test_task_event.py
  eventhandlers/action_runners/ActionRegistrar.py
  eventhandlers/action_runners/actions/Webhook.py
  eventhandlers/action_runners/actions/__init__.py
  eventhandlers/action_runners/base/ActionRunner.py
  frontend/src/components/action/action_configurations/Webhook/Webhook.vue
  frontend/src/components/action/component_mapping.js
  frontend/src/services/actionService.js
  shared/alembic/versions_opencore/alembic_2022_07_28_11_40_73fd663f4914_add_action_run_indexes.py
  shared/database/action/action.py
  shared/database/action/action_run.py
  shared/database/task/task_event.py
  shared/utils/sync_events_manager.py
Labels: enhancement, ready_to_merge, feature, workflow-experience

#1017 Fix Archiving Tree View Items
  frontend/src/components/attribute/attribute_group_wizard.vue
Labels: ready_to_merge, bugfix

#1026 Mark task as incomplete
  default/methods/task/task/task_update.py
  frontend/src/components/annotation/annotation_core.vue
  frontend/src/components/annotation/toolbar.vue
  frontend/src/components/report/report.vue
  frontend/src/components/report/report_dashboard.vue
  shared/utils/task/task_update_manager.py
Labels: enhancement

#1029 Display selected items
  frontend/src/components/attribute/attribute_group.vue
Labels: frontend-ui

#1035 Add schema selector
  frontend/src/components/label/label_schema_selector.vue
  frontend/src/components/label/label_select_only.vue
  frontend/src/components/source_control/dataset_explorer.vue
Labels: front-end

#1040 Explorer UI improvements
  frontend/src/components/source_control/dataset_explorer.vue
Labels: frontend-ui, front-end

#1041 Remove outdated unit tests for the stats
  frontend/tests/unit/stats/stats_panel.spec.js
Labels: front-end, testing
